* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: auto;
}

/* header */
.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
}

.Nav {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;

}

.main {
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.left {
    height: 200;
    display: flex;
    justify-content: left;
    background-color: antiquewhite;
   
}


.Maina {
    height: 200;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
   
}


.right {
    height: 200;
    display: flex;
    justify-content: right;
   background-color: antiquewhite;
}
.Footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}